<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="index.asp">
        <system.webServer>
            <defaultDocument>
                <files>
                    <add value="index.asp" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
				<clear />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
